/config.json
/__pycache__
/.idea
.DS_Store
/LskyProUploader.egg-info
LskyProUploader.egg-info
LskyProUploader/config.json
/LskyProUploader/config.json
LskyProUploader/__pycache__
.vscode
LskyProUploader/Img_cache